.MainDash{
    /* padding-top: 1rem; */
    display: flex;
    flex-direction: column;

}

@media screen and (max-width: 1200px) {
    .MainDash{
        justify-content:flex-start;
    }
}

@media screen and (max-width: 768px)
{
    .MainDash{
        align-items: center;
    }
}
.ime
{
    border: 1px solid black;
    
}
